@charset "utf-8-BOM";
:root{
  --heavycolor: #222668;
  --midcolor: #5c61b1;
  --lightcolor: #FEDD74;
  --headerheight: 18rem;
}

html {
  font-size: 62.5%;
  font-family: sans-serif ;
}

header {
  top: 0;
  left: 0;
  position: fixed;
  height: var(--headerheight);
  width: 100%;
  background: linear-gradient(var(--heavycolor), var(--midcolor));
  color:var(--lightcolor);
}

.headertitle{
  font-size: 2.4rem;
  margin: 1rem;
  font-weight: bold;
}


table.sbtbl {
  border:none;
}


.searchbox{
  margin-left: 3rem;
}

.sbcommon{
  font-family: inherit;
  font-size:1.6rem;
  height: 3rem;
}

.sbinput{
  width: 100%;
}

.sbtitle{
  width: 10rem;
  font-weight: bold;
}

.sbsubmit{
  width: auto;
  font-weight: bold;
}

.resultbox{
  width:  100%;
  height: auto;
  overflow: auto;
}

table.hd{
  margin-top: 2rem;
  color: red;
}


table.hd th {
  width: 10%;
  font-size: 2rem;
  border: 1px solid var(--lightcolor);
}

table.contents td {
  width: 10%;
  font-size: 2rem;
  border: 1px solid var(--heavycolor);
}


body {
  margin-top: var(--headerheight);
  background-color: var(--midcolor);
  font-size: 1.6rem;
}

.row1 {
  position: sticky; /* stickyを設定 */
  top:      0;      /* 上に位置を固定 */
  z-index:  4;      /* スクロールするセルよりも前面に表示 */
  background-color: pink; /* わかりやすさと、スクロールするセルを見えなくする */
}

table.hd .tbl_wide_comp {
  width: 32rem;
}
td .tbl_wide_type {
  width: 16rem;
}
td .tbl_wide_date {
  width: 12rem;
}
