.info-card{
    border: #808000 solid 1px;
    border-left: solid 15px #6b8e23;/*左ライン*/
    font-size: 100%;
    padding: 15px;
    box-shadow: 0 3px 4px 0 #c0c0c0;
    border-radius: 10px;/*角の丸み*/
    margin: 10px;
    background-color: yellow;
    width :400px;
}
