#resultbox{
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.rbox_visible{
    display: -webkit-flex;
    display:flex;
}

.rbox_shrink{
    display: none;
  }


.card, .blankcard{
    width :300px;
    margin: 15px;
}

.card{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}


.blankcard{
    height: 0;
}

.card a{
    text-decoration: none;
}

.card .company, .article{
    display: block;
    color : var(--textcolor);
    width: calc(100%-20px);
    padding: 5px 10px;
    box-shadow: 10px 10px 10px var(--textcolortrans);
}

.card .company{
    background-color: var(--lightcolor);
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.card .article{
    background-color: var(--basecolor);
    font-family: 'Sawarabi Mincho', serif;
}

.article:hover, .company:hover{
    background-color: var(--maincolor);
    color : var(--basecolor);
  }

.sub, .issue{
    display: block;
    padding-left: 5px;
    padding-right: 5px;

}

.sub{
    font-size: 1.4rem;
}

.issue{
    font-size: 1.6rem;
    font-weight: bold;
}


/*pagination*/

.pagination {
    text-align: center;
  }
  .pagination a,
  .pagination span {
    display: inline-block;
    margin: 8px 4px;
    text-decoration: none;
    border-radius: 6px;
    background: #fff;
    width: 50px;
    height: 50px;
    padding: 18px 0;
    box-sizing: border-box;
    color: #899a96;
    line-height: 1;
  }
  .pagination a:hover {
    opacity: 0.7;
  }
  .pagination .current {
    background: transparent;
    font-weight: bold;
  }

  @media screen and (max-width: 767px) {
    .pagination a,
    .pagination span {
      margin: 4px 2px;
      width: 46px;
      height: 46px;
      padding: 16px 0;
    }
  }

  /* 装飾 */

  body {
    margin: 80px 0;
    background-color: #edf1fa;
  }