#resultbox{
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.rbox_visible{
    display: -webkit-flex;
    display:flex;
}

.rbox_shrink{
    display: none;
  }


.card, .blankcard{
    width :300px;
    margin: 15px;
}

.card{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}


.blankcard{
    height: 0;
}

.card a{
    text-decoration: none;
}

.card .company, .article{
    display: block;
    color : var(--textcolor);
    width: calc(100%-20px);
    padding: 5px 10px;
    box-shadow: 10px 10px 10px var(--textcolortrans);
}

.card .company{
    background-color: var(--lightcolor);
    font-family: 'Kosugi Maru', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

.card .article{
    background-color: var(--basecolor);
    font-family: 'Sawarabi Mincho', serif;
}

.article:hover, .company:hover{
    background-color: var(--maincolor);
    color : var(--basecolor);
  }

.sub, .issue{
    display: block;
    padding-left: 5px;
    padding-right: 5px;

}

.sub{
    font-size: 1.4rem;
}

.issue{
    font-size: 1.6rem;
    font-weight: bold;
}
