.card{
    display:flex
    box-shadow: 5px 5px 4px gray;
    margin: 15px;
    background-color: var(--ligtcolor);
    width :80%;
    max-width : 380px;
}

.card a{
    text-decoration: none;
}


.card .company{
    border: var(--lightcolor) solid 1px;
    background-color: var(--lightcolor);
    color : var(--textcolor);
    padding: 5px;
    width: 100%;
}

.card .article{
    border: var(--lightcolor) solid 1px;
    background-color: var(--basecolor);
    color : var(--textcolor);
    padding: 5px;
    width: 100%;
}

.article:hover, .company:hover{
    background-color: var(--maincolor);
    color : var(--basecolor);
  }
