ul.ks-cboxtags li label{
    display: inline-block;
    border: 3px dotted var(--basecolor);
    color: var(--basecolor);
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
  font-size: 1.2rem;
  padding: 8px 12px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: 'Material Icons Outlined';
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "check_box_outline_blank";
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "done_outline";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 3px solid var(--maincolor);
  background-color: var(--basecolortrans);
  color: var(--maincolor);
  transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:hover + label {
  border: 3px solid var(--selectcolor);
  box-shadow: 0px 0px 3px 1px var(--selectcolor) inset;
}


ul.ks-cboxtags li input[type="text"] {
  display: inline-block;
  border: 3px dotted var(--basecolor);
  color: var(--basecolor);
  border-radius: 5px;
  padding-left: 3px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 1.4rem;
  height: 30px;
  width: 50%;
  background: transparent;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
}

ul.ks-cboxtags li input[type="text"]:not(:placeholder-shown){
  border: 3px solid var(--maincolor);
  background-color: var(--basecolortrans);
  color: var(--maincolor);
  opacity: 1;
}


ul.ks-cboxtags li input[type="text"]:focus {
  color: var(--maincolor);
  background-color: var(--basecolortrans);
  border: 3px solid var(--selectcolor);
  box-shadow: 0px 0px 3px 1px var(--selectcolor) inset;
  outline: none;
}

ul.ks-cboxtags li input[type="text"]:hover {
  color: var(--maincolor);
  background-color: var(--basecolortrans);
  border: 3px solid var(--selectcolor);
}

ul.ks-cboxtags li input[type="text"]:hover:not(:placeholder-shown) {
  color: var(--maincolor);
}

ul.ks-cboxtags li input[type="text"]::placeholder {
  color: var(--basecolor);
  opacity: 0.5;
}

ul.ks-cboxtags li input[type="text"]:not(:placeholder-shown)::placeholder {
  color: var(--maincolor);
  opacity: 1;
  font-size: 1.4rem;
}
ul.ks-cboxtags li input[type="text"]:focus::placeholder {
  color: var(--maincolor);
  opacity: 0.5;
}
ul.ks-cboxtags li input[type="text"]:hover::placeholder {
  color: var(--maincolor);
  opacity: 0.5;
}



.btn-submit.show {
  animation-name: fade-in;
  animation-duration: .8s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


.btn-submit {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 50px;
  width: 50px;
  border-radius:50%;
  align-items: center;
  justify-content: center;
  float: right;
  cursor: pointer;
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .btn-submit{
    transform:translateY(-100px);
  }
}
