#help, #contactform{
  display: inline-block;
  position:fixed;
  color: var(--basecolor);
  background: transparent;
  width: 100%;
  max-height: calc(95vh - var(--headerheight));
  top: calc(-100vh + var(--headerheight));
  transition: all .6s ease;
}

#help.hptrue, #contactform.cftrue{
  top: calc(var(--headerheight));
}

.container {
  font-family: inherit;
  display:block;
  width: 90%;
  max-width:600px;
  margin:5px auto;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  background-color: var(--basecolor);
  border: 1px solid var(--maincolor);
}

.head {
  -webkit-border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
  border-radius:5px 5px 0px 0px;
  background-color:var(--maincolor);
  color:var(--basecolor);
  font-family: inherit;
  font-size: 18px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid var(--maincolor);
}

.container textarea {
  font-size: 15px;
  padding: 15px 10px 10px;
  font-family: initial;
  border: 1px solid var(--maincolor);
  background: var(--basecolor);
  color: var(--maincolor);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:2% 0;
  width: 80%;
  max-width: 600px;
  height: 40vh;
}

.container button {
  background-color:transparent;
  padding: 12px 45px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid var(--maincolor);
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-flex;
  cursor: pointer;
  width: 80%;
  color:var(--textcolor);
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 15px;
  height: 10%;
  margin-bottom: 20px;
}

.container button:hover, .container .button:hover {
  background: var(--maincolor);
  color:var(--basecolor);
}

#help .container{
  background: radial-gradient(var(--lightcolor), var(--maincolor));
  text-align: left;
}

#help .container div{
  font-family: inherit;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}

#help span{
  display: inline-block;
  font-family: 'Sawarabi Mincho', serif;
  font-size: 1.6rem;
  margin: 1rem 2rem;
}

#help span:last-of-type{
  margin-bottom: 3rem;
}
