/*トップへ戻るボタン*/
/*前半はスマホ用*/
#topBtn {
  position:fixed;
  bottom:10px;
  right:10px;
  display:block; /*aタグをblock要素に変更*/
  background-color: transparent;
  color: var(--maincolor);
  border: 2px solid  var(--maincolor);
  text-decoration:none;
  font-weight:bold;
  font-size:11px;
  width:40px;
  height:40px;
  text-align:center;
  line-height:15px;
  border-radius:20px;
  padding-top:18px;
  box-sizing:border-box;
}

#topBtn:before {
  content:'\25B2';
  position:absolute;
  top:6px;
  left:0;
  width:100%;
  text-align:center;
  font-size:13px;
}
