$maincolor: rgba(22, 94, 131, 1);   /*! 藍色 */
$midcolor: rgba(137, 195 ,235, 1); /*! 勿忘草色*/
$subcolor: rgba(255, 255, 255, 1);
$badgecolor: rgba(211,56,28, 1);    /*! 緋色*/

$gothic: '', 'Oswald', sans-serif;
$gothicmaru: 'Kosugi Maru', sans-serif;
$mincho: 'Sawarabi Mincho', serif;

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body{
  background: $subcolor;
  padding: 0;
  margin: 0;
}

main{
  position: relative;
  display: block;
  padding: 0;
  margin: 0 20px;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}


/*! カード ***********************************************/
#cards{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


%card-shared{
  position: relative;
  width :300px;
  margin: 15px;
}

.card{
  @extend %card-shared;
  display: block;
  background: transparent;
}

.blank-card{
    @extend %card-shared;
    height: 0;
}



.card a{
  text-decoration: none;
}

%card-contents-shared{
  padding: 10px 10px;
}

%shadow-shared{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.company{
  color: $maincolor;
  background-color: $midcolor;
  font-family: $gothicmaru;
  font-size: 1.6rem;
  font-weight: bold;
  @extend %card-contents-shared;
  @extend %shadow-shared;
  &:hover{
    background-color: $maincolor;
    color : $subcolor;
  }
  }

.article{
  color: $maincolor;
  background-color: $subcolor;
  font-family: $mincho;
  @extend %card-contents-shared;
  @extend %shadow-shared;

  &:hover{
    color: $subcolor;
    background-color: $maincolor;
  }
}
%article-shared{
  display: block;
  padding: 0 1rem;
}

.sub{
  @extend %article-shared;
  font-size: 1.2rem;
}

.issue{
  @extend %article-shared;
  font-size: 1.6rem;
  font-weight: bold;
}

.badge-new{
  &:before{
    display: inline-block;
    color: $subcolor;
    padding: 0.2rem 0.3rem;
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    background-color: $badgecolor;
    content: "New";
  }
}

/*! link to toppage ***********************************************/
#topBtn {
  position:fixed;
  bottom:10px;
  right:10px;
  display:block; /*aタグをblock要素に変更*/
  color: $maincolor;
  border: 1px solid  $maincolor;
  background-color: $subcolor;
  text-decoration:none;
  font-family:$gothicmaru;
  font-weight:bold;
  font-size:11px;
  width:40px;
  height:40px;
  text-align:center;
  line-height:15px;
  border-radius:20px;
  padding-top:18px;
  box-sizing:border-box;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;



  &:before {
    content:'\25B2';
    color: $maincolor;
    position:absolute;
    top:6px;
    left:0;
    width:100%;
    text-align:center;
    font-size:13px;
  }
}

/*! pagination ***********************************************/
#pagination_wrapper{
  font-family: $gothicmaru;
  display: flex;
  margin: 0.5rem 20px 0.5rem auto;
  align-content: center;
  color: $maincolor;
  justify-content: flex-end;
}

%pagination-shared{
  font-size: 1.5rem;
}

.pagination-page-info{
  @extend %pagination-shared;
  margin-right: 20px;
  padding: 5px;
  background: transparent;
  border-radius: 10px;
  b{
    display: block;
    margin-top: .5rem;
  }
}

.pagination{
  @extend %pagination-shared;
  box-sizing: border-box;
  display: flex;
}

.pagination{
  li{
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    background: transparent;
    border: solid 1px;
    border-radius: 0%;
    border-color: $maincolor;
    text-align: center;
    padding: 0 0;
    margin: 0 3px;
    transition: all 0.2s ease 0s;
    display: block;
    @extend %shadow-shared;

    a{
      display: block;
      text-decoration: none;
      margin-top: 0.9rem;
      font-size: 1.5rem;
      color: $maincolor;
    }

    &:first-child{
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      a{
      margin-top: 0.5rem;
      }
    }
    &:last-child{
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      a{
        margin-top: 0.5rem;
        }
    }

  &.current{
    border: solid 1px;
    border-color: $maincolor;
    background: $maincolor;

    a{
      font-weight: bold;
      color: $subcolor
    }

  }
  &.unavailable {
    border: dotted 0.3px;
    opacity: 0.5;
    a{
      margin-top: 0.5rem;
    }
  }

  &:not([class]):hover{
    font-weight: bold;
    transform: scale(1.1, 1.1);
  }
  .arrow:hover{
    font-weight: bold;
    transform: scale(1.1, 1.1);
  }

}
}


@media screen and (max-width: 600px) {
  .pagination .unavailable {
    display: none;
  }
  .pagination li:not([class]) {
    display: none;
  }
}

/*! humberger ***********************************************/
$hmb-size: 14px ;
$hmb-size-h: ( $hmb-size / 2 );

%hmb-shared{
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
#hmb{
  @extend %hmb-shared;
  position: relative;
  width: $hmb-size * 2;
  height: 2px + $hmb-size ;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
  span{
    @extend %hmb-shared;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: $maincolor;
    border-radius: 1px;
  }
  span:nth-of-type(1) {top: 0;}
  span:nth-of-type(2) {top: $hmb-size-h;}
  span:nth-of-type(3) {bottom: 0;}
}

#hmb{
  span:nth-of-type(1) {animation: hmb-bar01 .75s forwards;}
  span:nth-of-type(2) {transition: all .25s .25s; opacity: 1;}
  span:nth-of-type(3) {animation: hmb-bar03 .75s forwards;}
}

@keyframes hmb-bar01 {
  0%    {transform: translateY($hmb-size-h) rotate(45deg);}
  50%   {transform: translateY($hmb-size-h) rotate(0);}
  100%  {transform: translateY(0) rotate(0);}
}
@keyframes hmb-bar03 {
  0%    {transform: translateY(-$hmb-size-h) rotate(-45deg);}
  50%   {transform: translateY(-$hmb-size-h) rotate(0);}
  100%  {transform: translateY(0) rotate(0);}
}

#hmb.active {
  span:nth-of-type(1) {animation: active-hmb-bar01 .75s forwards;}
  span:nth-of-type(2) {opacity: 0;}
 span:nth-of-type(3) {animation: active-hmb-bar03 .75s forwards;}
}

@keyframes active-hmb-bar01 {
  0%    {transform: translateY(0) rotate(0);}
  50%   {transform: translateY($hmb-size-h) rotate(0);}
  100%  {transform: translateY($hmb-size-h) rotate(45deg);}
}
@keyframes active-hmb-bar03 {
  0%    {transform: translateY(0) rotate(0);}
  50%   {transform: translateY(-$hmb-size-h) rotate(0);}
  100%  {transform: translateY(-$hmb-size-h) rotate(-45deg);}
}

/*! navigation*******************************************/
#nav{
  &.device-sp{
    display: flex;
  }
}

#hmb-menu{
  display: block;
  text-align: center;
  span {
  display: block;
  }
  input[type=radio]{
    display: none;
    }
}

/*! about*******************************************/
#about{
  padding: 0 1rem;
  &.displaynone{
    display: none;
  }
}

/*! contact*******************************************/
#contact{
  padding: 0 1rem;
  &.displaynone{
    display: none;
  }
}

/*! search*******************************************/
#search{
  padding: 0 1rem;
  &.displaynone{
    display: none;
  }
}


/*! title*******************************************/
#title{
  color: $maincolor;
  background-color: $subcolor;
  font-family:$gothic;
  font-weight: 300;
  font-size: 1.8rem;
}


@media screen and (min-width: 601px) {
  #title{
    font-family:$gothic;
    font-weight: 600;
    font-size: 2.4rem;
  }
}


/*! media*******************************************/
@media screen and (max-width: 600px) {
  .device-pc {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .device-sp {
    display: none;
  }
}
