@charset "UTF-8";
/*! 藍色 */
/*! 勿忘草色*/
/*! 緋色*/
html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

body {
  background: white;
  padding: 0;
  margin: 0;
}

main {
  display: block;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #165e83;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*! カード ***********************************************/
#cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card, .blank-card {
  position: relative;
  width: 300px;
  margin: 15px;
}

.card {
  display: block;
  background: transparent;
}

.blank-card {
  height: 0;
}

.card a {
  text-decoration: none;
}

.company, .article {
  padding: 5px 10px;
}

.company {
  color: #165e83;
  background-color: #89c3eb;
  font-family: "Kosugi Maru", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

.company:hover {
  background-color: #165e83;
  color: white;
}

.article {
  color: #165e83;
  background-color: white;
  font-family: "Sawarabi Mincho", serif;
  /*  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}*/
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.article:hover {
  color: white;
  background-color: #165e83;
}

.sub, .issue {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
}

.sub {
  font-size: 1.4rem;
}

.issue {
  font-size: 1.8rem;
  font-weight: bold;
}

.badge-new:before {
  display: inline-block;
  color: white;
  padding: 0.2rem 0.3rem;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  background-color: #d3381c;
  content: "New";
}

/*! link to toppage ***********************************************/
#topBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: block;
  /*aタグをblock要素に変更*/
  color: #165e83;
  border: 2px solid #165e83;
  background-color: white;
  text-decoration: none;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: bold;
  font-size: 11px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 15px;
  border-radius: 20px;
  padding-top: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#topBtn:before {
  content: '\25B2';
  color: #165e83;
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

/*! pagination ***********************************************/
#pagination_wrapper {
  font-family: "Kosugi Maru", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0.5px;
  margin: 0.5rem 0.5rem auto 1rem;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #165e83;
}

.pagination-page-info, .pagination {
  font-size: 1.5rem;
}

.pagination-page-info {
  margin-right: 20px;
  padding: 5px;
  background: transparent;
  border-radius: 10px;
}

.pagination-page-info b {
  display: block;
  margin-top: .5rem;
}

.pagination {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 35px;
  height: 35px;
  background: transparent;
  border: solid 1px;
  border-radius: 0%;
  border-color: #165e83;
  text-align: center;
  padding: 0 0;
  margin: 0 3px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  display: block;
}

.pagination li a {
  display: block;
  text-decoration: none;
  margin-top: 0.9rem;
  font-size: 1.5rem;
  color: #165e83;
}

.pagination li:first-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.pagination li:first-child a {
  margin-top: 0.5rem;
}

.pagination li:last-child {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.pagination li:last-child a {
  margin-top: 0.5rem;
}

.pagination li.current {
  border: solid 1px;
  border-color: #165e83;
  background: #165e83;
}

.pagination li.current a {
  font-weight: bold;
  color: white;
}

.pagination li.unavailable {
  border: dotted 0.3px;
  opacity: 0.5;
}

.pagination li.unavailable a {
  margin-top: 0.5rem;
}

.pagination li:not([class]):hover {
  font-weight: bold;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.pagination li .arrow:hover {
  font-weight: bold;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

@media screen and (max-width: 600px) {
  .pagination .unavailable {
    display: none;
  }
  .pagination li:not([class]) {
    display: none;
  }
}

/*! humberger ***********************************************/
.hamburger-trigger span:nth-of-type(1) {
  top: 0;
}

.hamburger-trigger span:nth-of-type(2) {
  top: 10px;
}

.hamburger-trigger span:nth-of-type(3) {
  bottom: 0;
}

#menu07 span:nth-of-type(1) {
  -webkit-animation: menu07-bar01 .75s forwards;
          animation: menu07-bar01 .75s forwards;
}

@-webkit-keyframes menu07-bar01 {
  0% {
    -webkit-transform: translateY(20px) rotate(45deg);
            transform: translateY(20px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(0);
            transform: translateY(20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@keyframes menu07-bar01 {
  0% {
    -webkit-transform: translateY(20px) rotate(45deg);
            transform: translateY(20px) rotate(45deg);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(0);
            transform: translateY(20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

#menu07 span:nth-of-type(2) {
  -webkit-transition: all .25s .25s;
  transition: all .25s .25s;
  opacity: 1;
}

#menu07 span:nth-of-type(3) {
  -webkit-animation: menu07-bar03 .75s forwards;
          animation: menu07-bar03 .75s forwards;
}

@-webkit-keyframes menu07-bar03 {
  0% {
    -webkit-transform: translateY(-20px) rotate(-45deg);
            transform: translateY(-20px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(0);
            transform: translateY(-20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

@keyframes menu07-bar03 {
  0% {
    -webkit-transform: translateY(-20px) rotate(-45deg);
            transform: translateY(-20px) rotate(-45deg);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(0);
            transform: translateY(-20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
}

#menu07.active span:nth-of-type(1) {
  -webkit-animation: active-menu07-bar01 .75s forwards;
          animation: active-menu07-bar01 .75s forwards;
}

@-webkit-keyframes active-menu07-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(0);
            transform: translateY(20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(20px) rotate(45deg);
            transform: translateY(20px) rotate(45deg);
  }
}

@keyframes active-menu07-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(0);
            transform: translateY(20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(20px) rotate(45deg);
            transform: translateY(20px) rotate(45deg);
  }
}

#menu07.active span:nth-of-type(2) {
  opacity: 0;
}

#menu07.active span:nth-of-type(3) {
  -webkit-animation: active-menu07-bar03 .75s forwards;
          animation: active-menu07-bar03 .75s forwards;
}

@-webkit-keyframes active-menu07-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(0);
            transform: translateY(-20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-20px) rotate(-45deg);
            transform: translateY(-20px) rotate(-45deg);
  }
}

@keyframes active-menu07-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-20px) rotate(0);
            transform: translateY(-20px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-20px) rotate(-45deg);
            transform: translateY(-20px) rotate(-45deg);
  }
}

/*! navigation*******************************************/
@media screen and (min-width: 601px) {
  .nav.device-sp {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav.device-pc {
    display: none;
  }
}

/*! about*******************************************/
#about {
  padding: 0 1rem;
}

#about.displaynone {
  display: none;
}

/*! contact*******************************************/
#contact {
  padding: 0 1rem;
}

#contact.displaynone {
  display: none;
}

/*! search*******************************************/
#search {
  padding: 0 1rem;
}

#search.displaynone {
  display: none;
}

#title {
  font-size: 2rem;
}
/*# sourceMappingURL=mainstyle.css.map */