#pgn_wrapper{
  display: flex;
  position: fixed;
  top: var(--headerheight);
  right: 5px;
  margin-top: 5px;
  align-content: center;
}

#pgn_wrapper .pagination-page-info, #pgn_wrapper .pagination{
  font-family: initial;
  font-size: 15px;
  color: var(--maincolor);
}

.pagination-page-info{
  display: block;
  margin-right: 20px;
  padding: 5px;
  background: var(--basecolortrans);
  border-radius: 10px;
}

.pagination {
  box-sizing: border-box;
  display: flex;
  }

/**/
.pagination li{
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  background: var(--basecolortrans);
  border: solid 1px;
  border-radius: 0%;
  border-color: var(--maincolor);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  transition: all 0.2s ease 0s;
}

.pagination li a {
  display: block;
  text-decoration: none;
  color: var(--maincolor);
}


/**/
.pagination li:first-child{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

/**/
.pagination li:last-child{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.pagination li:not([class]):hover, .pagination .arrow:hover {
  font-weight: bold;
  transform: scale(1.1, 1.1);
}

.pagination .current{
  border: solid 1.5px;
  border-color: var(--maincolor);
  background: var(--maincolor);
}

.pagination .current a{
  font-weight: bold;
  color: var(--basecolor)
}

.pagination .unavailable {
  border: dotted 0.3px;
  opacity: 0.5;
}

.pagination .unavailable a {
  font-weight: normal;
}



@media screen and (max-width: 600px) {
  .pagination .unavailable {
    display: none;
  }
  .pagination li:not([class]) {
    display: none;
  }
}
