#searchicon{
  font-family: 'Material Icons Outlined';
  font-size: 36px;
  color: var(--basecolor);
  cursor: pointer;
}

#search{
  display: block;
  opacity: 1;
}
#close{
  display: none;
  opacity: 0;
}


@media screen and (max-width: 599px) {
  #menu-pc{
    display: none;
  }
}

@media screen and (min-width: 600px) {
  #menu-sp{
    display: none;
  }
}


#menu{
  display: block;
  position:fixed;
  color: var(--basecolor);
  font-size: 1.6rem;
  top: var(--headerheight);
  width:100%;
  height: calc(100vh-var(--headerheight));
  opacity: 0;
}


#circle-bg{
  position: fixed;
  /*丸の形*/
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--textcolortrans);
  /*丸のスタート位置と形状*/
  right:-50px;
  top:-50px;
  transform: scale(0);/*scaleをはじめは0に*/
  transition: all 0.6s;/*0.6秒かけてアニメーション*/
}
