
#search{
  display: block;
  opacity: 1;
}
#close{
  display: none;
  opacity: 0;
}


@media screen and (max-width: 599px) {
  #menu-sp{
    display: block;
  }
  #menu-pc{
    display: none;
  }
}

@media screen and (min-width: 600px) {
  #menu-sp{
    display: none;
  }
  #menu-pc{
    display: block;
  }
}


#menu{
  overflow: scroll;
  display: block;
  position:fixed;
  color: var(--basecolor);
  background: var(--textcolortrans);
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  max-height: calc(95vh - var(--headerheight));
  top: calc(-100vh + var(--headerheight));
  transition: all .6s ease;
}

#menu.sitrue{
  top: calc(var(--headerheight));
}

#menu-pc{
  margin-top: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

#menu-pc li{
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-header{
  display: flex;
  font-size: 32px;
  align-items: center;
}
.sihead{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: 1.6rem;
}

.sihead:before, .sihead:after{
  content: "";
  height: 3px; /* 線の太さを変えたいときはここを変える */
  background: var(--basecolor); /* 線の色を変えたいときはここを変える */
  margin:0 .4em; /* 文字と線の余白用 なくても良い */
}

.sihead:before {
  flex-grow: 1;
}

.sihead:after {
  flex-grow: 15;
}


.checks-wrapper{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  flex-wrap: wrap;
  justify-content: left;
}

.check-wrapper{
  margin: 2px 2px;
  width: 250px;
}
