#menu-sp{
  margin: 20px;
}

.spinput-wrapper{
  display: flex;
  align-items: center;
}

.spinput-wrapper input,.spinput-wrapper select{
  width: 85%;
  margin-top: 10px;
  margin-bottom: 10px;
}


input[type="month"]::-webkit-calendar-picker-indicator {
  display: none;
}


#menu-sp input,
button,
#menu-sp select {
  /* デフォルトスタイルをリセット */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  border: 1px solid var(--textcolortrans);
  box-sizing: border-box;
  font-size: 22px;
  color: var(--maincolor);
  margin-left:5px;
  background-color: var(--basecolor);
  height: 30px;
}

#menu-sp input:focus,
#menu-sp button:focus,
#menu-sp select:focus {
  border: var(--selectcolor);
  box-shadow: 0px 0px 3px 1px var(--selectcolor) inset;
}

#menu-sp input::placeholder {
  color: var(--textcolortrans);
  opacity: 0.5;
  font-size: 18px;
}
