@charset "utf-8-BOM";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Sawarabi+Gothic&family=Sawarabi+Mincho&display=swap');

:root{
  --maincolor: rgb(22, 94, 131);    /*藍色*/
  --lightcolor: rgb(137, 195 ,235); /*勿忘草色*/
  --basecolor: white;
  --textcolor: rgb(69,87,101);      /*鉄御薄雲鼠*/
  --bkcolor: rgb(212,220,218);      /*薄雲鼠*/
  --textcolortrans: rgb(69,87,101, 0.9);      /*鉄御薄雲鼠の少し透過*/

  --headerheight: 50px;

}

/*icon size*/

html {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 62.5%;
  background-color: var(--bkcolor);
}

header{
  z-index: 10;
}
#resultbox{
  z-index: 20;
}
#menu{
  z-index: 30;
}

header {
  top : 0;
  left: 0;
  position: fixed;
  height: var(--headerheight);
  width : 100%;
  background-color: var(--maincolor);
  z-index: 10;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  color: var(--basecolor);
}

#headertitle{
  position: absolute;
  width: 70%;
  color: inherit;
}


@media screen and (min-width: 600px) {
  #headertitle{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: left;
    justify-content:left;
    -webkit-align-items: center;
    align-items: center;
  }
}

/*@media screen and (min-width: 1000px) {
}*/


#maintitle, #updatetitle{
  color: inherit;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.icons{
  font-family: 'Material Icons Outlined';
  font-size: 24px;
}

#maintitle{
  font-size: 1.6rem;
}

#updatetitle{
  font-size: 1.4rem;
}

@media screen and (min-width: 600px) {
  #updatetitle{
    font-size: 1.6rem;
  }
}

#searchicon{
  font-family: 'Material Icons Outlined';
  font-size: 36px;
  position: absolute;
  top: calc((var(--headerheight) - 36px)/2);
  right: 10px;
  color: var(--basecolor);
  cursor: pointer;
}


body{
  margin-top: var(--headerheight);
  margin-left: 0;
  margin-right: 0;
  background-color: var(--bkcolor);
}
