@charset "utf-8-BOM";
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Sawarabi+Gothic&family=Sawarabi+Mincho&display=swap');

:root{
  --maincolor: rgb(22, 94, 131);    /*藍色*/
  --lightcolor: rgb(137, 195 ,235); /*勿忘草色*/
  --basecolor: white;
  --textcolor: rgb(69,87,101);      /*鉄御薄雲鼠*/
  --bkcolor: rgb(212,220,218);      /*薄雲鼠*/
  --headerheight: 4rem;

  --textcolortrans: rgb(69,87,101, 0.9);      /*鉄御薄雲鼠*/

}


html {
  font-size: 16px;
  font-family: 'Kiwi Maru', sans-serif;
  background-color: var(--bkcolor);

}

header {
  top : 0;
  left: 0;
  position: fixed;
  height: var(--headerheight);
  width : 100%;
  background-color: var(--maincolor);
  color: var(--basecolor);
  font-size: 1.5rem;
  z-index: 10;
}
.headertitle{
  position: absolute;
  top: 50%;
  height: 45%;
  display:block;
  font-size: 24px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
body{
  margin-top: var(--headerheight);

}

.inlineblock{
  display: inline-block;
}

.resultbox{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.material-icons.md-36 { font-size: 36px; }
.material-icons-outlined.md-12 { font-size: 12px; }
.searchicon{
  position: absolute;
  top: 0;
  right:0;
}