<!DOCTYPE html>
<html lang="ja">
<head>
    <title>生保会社ＮＲ検索</title>
<!--
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./style.css') }}">
-->
<link rel= "stylesheet" type= "text/css" href= "../static/style.css">
</head>

<header>
    <div  class="headertitle">
        ●生保会社ＮＲ検索／更新日時:{{ update_time }}
    </div>

    <div class="searchbox">
        <form action="/" method="post">
        <table class="sbtbl">
            <tr>
                <td class="sbcommon sbtitle">日付</td>
                <td><input type="date" name="datefrom" value={{datefrom}} min="2001-04-01" class="sbcommon">
                ～
                <input type="date" name="dateto" value={{datefrom}} min="2001-04-01" class="sbcommon">
                </td>
            </tr>
            <tr>
                <td class="sbcommon sbtitle">会社名</td>
                <td>
                <input type="search" name="company" placeholder="会社名を入力(ex.〇〇生命)" value="" class="sbcommon sbinput">
                </td>
            </tr>
            <tr>
                <td class="sbcommon sbtitle">キーワード</td>
                <td>
                <input type="search" name="keywords" placeholder="キーワードを入力(ex.販売 提携)" value="" class="sbcommon sbinput">
                </td>
                <td>
                <input type="submit" value="検索" class="sbcommon sbsubmit">
                </td>
            </tr>
        </ul>
        </form>
    </div>
    <div>
</header>
<body>
    <div class="resultbox">
    <table class="hd">
        <tr>
            {% for i in range(4) %}
            <th class="row1">{{ header[i] }}</th>
            {% endfor %}
            {% for content in tabledata %}
            <tr>
                <td class="tbl_wide_comp">
                    <a href={{ content[5] }}>{{ content[0] }}</a>
                </td>
                <td class="tbl_wide_type">{{ content[1] }}</td>
                <td class="tbl_wide_date">{{ content[2] }}</td>
                <td>
                    <a href={{ content[4] }}>{{ content[3] }}</a>
                </td>
            </tr>
        {% endfor %}
</table>
</div>
</body>
</html>
