<!DOCTYPE html>
<html lang="ja">
<head>
    <title>生保News-ＤＢ</title>
    <!--iconfont-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <!--mystyle-->
    <link rel= "stylesheet" href= "{{ url_for('static',filename='./css/style.css') }}">
    <!--resultbox, card-->
    <link rel= "stylesheet" href= "{{ url_for('static',filename='./css/card.css') }}">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='./css/paginate.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
</head>

<body>

<header>
    <div id="headertitle">
        <div id="maintitle"><span class="icons">newspaper</span>生保News-ＤＢ</div>
        <div id="updatetitle"><span class="icons">update</span>{{ update_time }}</div>
    </div>
    <div id="searchicon"><span id="search">search</span><span id="close">search_off</span></div>
</header>
<main>
    <article id="menu">
        <div id="menu-sp">
            <div class="menu-header"><span class="icons36">search</span><span>検索</span></div>
            <form method="POST" class="menu_sp">
                <input type="hidden" name="media-type" value="menu-sp">
                <ul class="">
                    <li class = "sihead">年月選択</li>
                    <li>
                        <div class="spinput-wrapper">
                            <span class="icons">calendar_month</span>
                            <input type="month" name="select-years" value={{ si_years[0] }} max={{update_time[:7]}}>
                        </div>
                    </li>
                    <li class = "sihead">会社選択</li>
                    <li>
                        <div class="spinput-wrapper">
                        <span class="icons">business</span>
                        <select name="select-companies">

                            <option value="all" {% if si_comp_all %}selected {% endif %}>全て選択</option>
                            {% for ci in companies %}
                                <option value={{ ci[0] }}
                                {% if (not si_comp_all) and ci[0] == si_comp[0] %}selected {% endif %}>{{ ci[1] }}</option>
                            {% endfor %}
                        </select>
                        </div>
                    </li>
                    <li class="sihead">キーワード</li>
                    <li>
                        <div class="spinput-wrapper">
                            <span class="icons">add_circle</span>
                            <input type="text" name="keywords-inc" placeholder="含むキーワード[ex.提携 異動]"
                            {% if si_kwrds[0] %} value="{{ si_kwrds[0] }}" {% endif %}>
                        </div>
                    </li>
                    <li>
                        <div class="spinput-wrapper">
                            <span class="icons">remove_circle</span>
                            <input type="text" name="keywords-exc" placeholder="除くキーワード[ex.コロナ]"
                            {% if si_kwrds[1] %} value="{{ si_kwrds[1] }}" {% endif %}>
                        </div>
                    </li>
                <li class="btn-submit-wrapper"><button type="submit" class="btn-submit"><span class='icons'>youtube_searched_for</span>
                </button></li>
                </form>
        </div>
        <div id="menu-pc">
            <div class="menu-header"><span class="icons36">search</span><span>検索</span></div>
            <form method="POST" class="menu_pc">
                <input type="hidden" name="media-type" value="menu-pc">
                <ul class="ks-cboxtags">
                    <li class="sihead">リリース年　
                        <input type="checkbox" name="select-years-all" id="sya"
                            {% if si_years_all %} checked="checked" {% endif %}>
                        <label for="sya">全て選択</label>
                    </li>
                    <li class="checks-wrapper" id="cbyear">
                        {% for u in years %}
                            <div class="check-wrapper">
                            <input type="checkbox" name="select-years" id="{{ u[0] }}" value={{ u[0] }}
                            {% if u[0] in si_years %} checked = "checked" {% endif %}/>
                            <label for="{{ u[0] }}">{{ u[1] }}</label>
                            </div>
                        {% endfor %}
                    </li>
                    <li class="sihead">会社選択　　
                        <input type="checkbox" name="select-companies-all" id="sca"
                        {% if si_comp_all %} checked = "checked" {% endif %}>
                        <label for="sca">全て選択</label>
                    </li>
                    <li class="checks-wrapper" id="cbcomp">
                        {% for ci in companies %}
                            <div class="check-wrapper">
                            <input type="checkbox" name="select-companies" id="{{ ci[0] }}" value={{ ci[0] }}
                            {% if ci[0] in si_comp %} checked = "checked" {% endif %}/>
                            <label for="{{ ci[0] }}">{{ ci[1] }}</label>
                            </div>
                        {% endfor %}
                    </li>
                    <li class="sihead">キーワード</li>
                    <li>
                        <span class="icons">add_circle</span>
                        <input type="text" name="keywords-inc" placeholder="含むキーワード[ex.提携 異動]"
                        {% if si_kwrds[0] %} value="{{ si_kwrds[0] }}" {% endif %}>
                    </li>
                    <li>
                        <span class="icons">remove_circle</span>
                        <input type="text" name="keywords-exc" placeholder="除くキーワード[ex.コロナ]"
                        {% if si_kwrds[1] %} value="{{ si_kwrds[1] }}" {% endif %}>
                    </li>
                    <li class="btn-submit-wrapper"><button type="submit" class="btn-submit"><span class='icons'>youtube_searched_for</span>
                </button></li>
            </ul>
        </form>
        </div>
    </article>

    <article id="pgn_wrapper"><article>{{ pagination.info }}</article><article>{{ pagination.links }}</article></article>
    <article id="resultbox">
        {% for i in range(n) %}
        <article class="card">
            <a href={{ tbl_company_url[i] }} target="_blank" rel="noopener norefeprrer">
                <div class="company">{{ tbl_company_name[i] }}</div>
            </a>
            <a href={{ tbl_article_url[i] }} target="_blank" rel="noopener noreferrer">
                <div class="article">
                    <p class="sub">
                        {% if tbl_is_new[i] %}
                        <span class="badge-new">New</span>
                        {% endif %}
                        {{ tbl_article_date[i] }}  {{ tbl_article_type[i] }}</p>
                    <p class="issue">{{ tbl_article_title[i] }}</p>
                </div>
            </a>
        </article>
        {% endfor %}
    </article>
    <article><a href="#" id="topBtn">TOP</a></article>
</main>
<footer></footer>


<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!--jQuery-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

<!--followingbox-->
<link rel= "stylesheet" href= "{{ url_for('static',filename='./css/followingbutton.css') }}">
<script type="text/javascript" src= "{{ url_for('static',filename='./js/followingbutton.js') }}"></script>
<!--searchmenu-->
<link rel= "stylesheet" href= "{{ url_for('static',filename='./css/searchmenu.css') }}">
<script type="text/javascript" src= "{{ url_for('static',filename='./js/searchmenu.js') }}"></script>
<!--searchmenu checkbox-->
<link rel= "stylesheet" href= "{{ url_for('static',filename='./css/checkbox.css') }}">
<script type="text/javascript" src= "{{ url_for('static',filename='./js/checkbox.js') }}"></script>
<script type="text/javascript" src= "{{ url_for('static',filename='./js/checkbox2.js') }}"></script>
<!--searchmenu-smartophon-->
<link rel= "stylesheet" href= "{{ url_for('static',filename='./css/smartphone.css') }}">
<script type="text/javascript" src= "{{ url_for('static',filename='./js/resultbox.js') }}"></script>
</body>

</html>
