<!DOCTYPE html>
<html lang="ja">
<head>
<title>生保News-ＤＢ</title>

<meta name="viewport" content="width=device-width">

<!--iconfont-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

<!--mystyle-->
<link rel= "stylesheet" href= "{{ url_for('static',filename='./css/style.css') }}">
<!--cardbox-->
<link rel= "stylesheet" href= "{{ url_for('static',filename='./css/card.css') }}">
<!--followingbox-->
<link rel= "stylesheet" href= "{{ url_for('static',filename='./css/followingbutton.css') }}">
<script type="text/javascript" src= "{{ url_for('static',filename='./js/followingbutton.js') }}"></script>
<!--searchmenu-->
<link rel= "stylesheet" href= "{{ url_for('static',filename='./css/searchmenu.css') }}">
<script type="text/javascript" src= "{{ url_for('static',filename='./js/searchmenu.js') }}"></script>

</head>


<header>
    <div id="headertitle">
        <div id="maintitle"><span class="icons">newspaper</span>生保News-ＤＢ</div>
        <div id="updatetitle"><span class="icons">update</span>{{ update_time }}</div>
    </div>
    <div id = "searchicon">search</div>
</header>


<body>
    <div class="shrink" id="menu">
        <form method="POST">
            <ul>
                <dd>
                <div>リリース年</div>
                    {% for u in years %}
                    <input type="checkbox" name="select-years" value={{u}}>{{ u }}
                    {% endfor %}
                </dd>
                <dd>
                <div>会社選択</div>
                        {% for ci in companies %}
                        <input type="checkbox" name="select-companies" value={{ci[0]}}>{{ ci[1] }}
                        {% endfor %}
                    </dd>
                <dd>
                    <div>キーワード</div>
                    <input type="text" name="keywords" placeholder="キーワードを入力(ex.販売 提携)" value="{{ kwrds }}">
                </dd>
            </ul>
        </form>
    </div>

    <!--返値ボックス-->
<div id="resultbox">
{% for i in range(n) %}
<section class="card">
    <a href={{ tbl_company_url[i] }} target="_blank" rel="noopener norefeprrer">
        <div class="company">{{ tbl_company_name[i] }}</div>
    </a>
    <a href={{ tbl_article_url[i] }} target="_blank" rel="noopener noreferrer">
        <div class="article">
            <p class="sub">{{ tbl_article_date[i] }}  {{ tbl_article_type[i] }}</p>
            <p class="issue">{{ tbl_article_title[i] }}</p>
        </div>
    </a>
</section>
{% endfor %}
</div>

<!--固定ボタン-->
<a href="#" id="topBtn">TOP</a>

</body>

<footer class="footer"></footer>
</html>
