body {
    padding: 0;
    margin: 0;
    }

    .container {
    display: flex; /* 横並び用 */
    }

    .zoom-in {
    margin: 40px;
    width: 70px;
    height: 70px;
    background: #0091EA;
    transition: 1s;
    }

    .zoom-in:hover {
    transform: scale(2);
    }

    .zoom-out {
    margin: 40px;
    width: 70px;
    height: 70px;
    background: #00E676;
    transition: 1s;
    }

    .zoom-out:hover {
    transform: scale(0);
    }